/* ==========================================================================
   Comments
   ========================================================================== */

   .comment {
    position: relative;
    margin-bottom: 4em;
    padding-left: 4.5em;
    font-size: 1.0em;
  
    // comment replies
    &.child {
      margin-left: 4.5em;
    }
  }
  
  .comment-timestamp {
    font-size: 0.8em;
    line-height: 0.8em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .comment-content {
    margin-top: 1em;
  
    > p,
    > ul,
    > ol,
    > figure,
    > table {
      margin-bottom: 1.5em;
    }
  
    ul {
      list-style-type: square;
    }
  
    li {
      margin-bottom: 0.5em;
    }
  
    li > ul,
    li > ol {
      margin-top: 0.5em;
    }
  
    img {
      max-width: 100%;
    }
  
    .highlighter-rouge {
  
      .highlight {
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
      }
  
      .highlight code {
        font-size: 0.8em;
      }
    }
  }
  
  .comment-avatar {
    position: absolute;
    top: 0;
    left: 0;
    img {
    width: 3.25em;
    height: 3.25em;
    }
  }
  
  .comment-author-name {
    display: inline-block;
    margin: 0 0 0.1em;
    font-size: 1.25em;
    line-height: 0.5;
  
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .comment-reply {
    text-align: right;
    margin-top: -25px;
  
    a {
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .comment-reply-notifications {
    margin: 1rem 0;
  }
  
  #cancel-comment-reply-link {
    margin-left: 1em;
  }
  
  #comment-form {
    margin-bottom: 3em;
    label.pull-right .note {
        margin-top: 0px;
        margin-bottom: 0px;
    }
  }
  
  /* Site author specific */
  .admin {
  
    .comment-author-name {
      box-shadow: inset 0 -0.25em 0 rgba($btn-warning-color, 0.5);
    }
  }
